/* h1 {
    background-color: lightblue;
    text-align: center;
    color: tomato;
}

p {
    text-align: left;
    font-size: 18px;
    color: red;
    background-color: lightgrey;
}

body {
    background-color: black;
    background-color: white;
} */

.bg-nasa-body {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 20px;
    border-style: groove;
    border-color: white;
    /* padding-left: 100px;   
    padding-right: 100px; */
}
